<footer>
    <div class="footer-content">
        <div class="logo-container" style="justify-content: center; margin-bottom: 1.5rem;">
            <img id="nav-logo-img" src="../assets/images/ELT8.png" alt="Evening Light Tabernacle Logo">
        </div>
        <div class="social-media">
            <a href="https://facebook.com/eltchurch" target="_blank" aria-label="Facebook">Facebook</a>
            <a href="https://twitter.com/eltchurch" target="_blank" aria-label="Twitter">Twitter</a>
            <a href="https://instagram.com/eltchurch" target="_blank" aria-label="Instagram">Instagram</a>
        </div>
        <p>&copy; 2025 Evening Light Tabernacle. All rights reserved.| Website Developed by <a href="https://www.example.com">Emmanuel Ngwenyama</a></p>
        <p>Contact us: <a href="mailto:info@eltchurch.com">info@eltchurch.com</a> | Phone: (555) 123-4567</p>

    </div>
</footer>